/* colors */
* {
background:       #0C1415; 
background-alt:   #0C1415;
foreground:       #f7ffff;
selected:         #5c9076;
highlight:        #7cc972;
urgent:           #458175;
on:               #85cc9c;
off:              #1d3235;
}
