/* colors */
* {
background:       #0f0d15AA; 
background-alt:   #0f0d15;
foreground:       #f8ecff;
selected:         #bf83df;
highlight:        #d2a2f7;
urgent:           #7a80fe;
on:               #cc8cff;
off:              #241f34;
}
