/* colors */
* {
background:       #091219; 
background-alt:   #091219;
foreground:       #ffdef2;
selected:         #ff6483;
highlight:        #628dd6;
urgent:           #2994d3;
on:               #d981ca;
off:              #152c3e;
}
