.notification-panel-window {
	background-color: $bg;
    .notification-panel-spacer {
		transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 1);
	}
	.notification-box-label {
        font-size: 30px;
        margin: .5em 1em;
        color: $blue;
    }  
    .notification-box-clear {
        background-color: $red;
        margin: 0em 1em;
        color: $fg;
        border-radius: 15px;
        padding: 10px;
        font-size: 16px;
        transition: 0.2s;
        &:hover {
            border-radius: 20px;
            background-color: $cyan;
            color: $fg;
        }
    }
    .notifications-empty-label {
        color: $red;
        padding-top: 10px;
        font-size: 18px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .notification-scroll-box {
        margin: 0px 5px 0px 5px;
    }
}
