/* colors */
* {
background:       #0b0b0c; 
background-alt:   #0b0b0c;
foreground:       #dfffffFF;
selected:         #c46695;
highlight:        #678cc9;
urgent:           #3c7dc2;
on:               #e179cf;
off:              #222226;
}
