/* colors */
* {
background:       #031A1D; 
background-alt:   #031A1D;
foreground:       #cbfbf1FF;
selected:         #518b70;
highlight:        #2a726a;
urgent:           #2e8383;
on:               #166562;
off:              #06434b;
}
