$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #C5FE00;
$secondary_paletteKeyColor: #687D58;
$tertiary_paletteKeyColor: #558158;
$neutral_paletteKeyColor: #757968;
$neutral_variant_paletteKeyColor: #757965;
$background: #111509;
$onBackground: #E2E4D0;
$surface: #111509;
$surfaceDim: #111509;
$surfaceBright: #373B2C;
$surfaceContainerLowest: #0C0F05;
$surfaceContainerLow: #1A1D10;
$surfaceContainer: #1E2114;
$surfaceContainerHigh: #282B1E;
$surfaceContainerHighest: #333628;
$onSurface: #E2E4D0;
$surfaceVariant: #444937;
$onSurfaceVariant: #C4C9B1;
$inverseSurface: #E2E4D0;
$inverseOnSurface: #2E3224;
$outline: #8E937D;
$outlineVariant: #444937;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A6D700;
$primary: #A6D700;
$onPrimary: #273500;
$primaryContainer: #3A4D00;
$onPrimaryContainer: #BEF500;
$inversePrimary: #4E6700;
$secondary: #B6CEA3;
$onSecondary: #233517;
$secondaryContainer: #384C2B;
$onSecondaryContainer: #D2EABD;
$tertiary: #A2D2A4;
$onTertiary: #0B3817;
$tertiaryContainer: #6E9C71;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #BEF500;
$primaryFixedDim: #A6D700;
$onPrimaryFixed: #151F00;
$onPrimaryFixedVariant: #3A4D00;
$secondaryFixed: #D2EABD;
$secondaryFixedDim: #B6CEA3;
$onSecondaryFixed: #0E2005;
$onSecondaryFixedVariant: #384C2B;
$tertiaryFixed: #BEEFBE;
$tertiaryFixedDim: #A2D2A4;
$onTertiaryFixed: #002108;
$onTertiaryFixedVariant: #25502C;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
