$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00CFFD;
$secondary_paletteKeyColor: #5D7B92;
$tertiary_paletteKeyColor: #5B79A3;
$neutral_paletteKeyColor: #6D797E;
$neutral_variant_paletteKeyColor: #6A797F;
$background: #0A1519;
$onBackground: #D8E4EA;
$surface: #0A1519;
$surfaceDim: #0A1519;
$surfaceBright: #303B3F;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #121D21;
$surfaceContainer: #162125;
$surfaceContainerHigh: #212C30;
$surfaceContainerHighest: #2B363B;
$onSurface: #D8E4EA;
$surfaceVariant: #3B494F;
$onSurfaceVariant: #B9C9D0;
$inverseSurface: #D8E4EA;
$inverseOnSurface: #273237;
$outline: #84939A;
$outlineVariant: #3B494F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #4CD6FF;
$primary: #4CD6FF;
$onPrimary: #003543;
$primaryContainer: #004E60;
$onPrimaryContainer: #B7EAFF;
$inversePrimary: #00677F;
$secondary: #ABCAE4;
$onSecondary: #123348;
$secondaryContainer: #2E4C62;
$onSecondaryContainer: #CCE7FF;
$tertiary: #AAC8F7;
$onTertiary: #0D3157;
$tertiaryContainer: #7492BE;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #B7EAFF;
$primaryFixedDim: #4CD6FF;
$onPrimaryFixed: #001F28;
$onPrimaryFixedVariant: #004E60;
$secondaryFixed: #C9E6FF;
$secondaryFixedDim: #ABCAE4;
$onSecondaryFixed: #001E2F;
$onSecondaryFixedVariant: #2B4A5F;
$tertiaryFixed: #D4E3FF;
$tertiaryFixedDim: #AAC8F7;
$onTertiaryFixed: #001C39;
$onTertiaryFixedVariant: #29486F;
