$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FD9E00;
$secondary_paletteKeyColor: #8F7245;
$tertiary_paletteKeyColor: #8F7431;
$neutral_paletteKeyColor: #857464;
$neutral_variant_paletteKeyColor: #877460;
$background: #1B1107;
$onBackground: #F4DFCB;
$surface: #1B1107;
$surfaceDim: #1B1107;
$surfaceBright: #443729;
$surfaceContainerLowest: #160C03;
$surfaceContainerLow: #241A0E;
$surfaceContainer: #291E12;
$surfaceContainerHigh: #34281B;
$surfaceContainerHighest: #3F3225;
$onSurface: #F4DFCB;
$surfaceVariant: #544433;
$onSurfaceVariant: #DAC2AC;
$inverseSurface: #F4DFCB;
$inverseOnSurface: #3A2E21;
$outline: #A28D79;
$outlineVariant: #544433;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB867;
$primary: #FFB867;
$onPrimary: #482900;
$primaryContainer: #673D00;
$onPrimaryContainer: #FFDDBA;
$inversePrimary: #875200;
$secondary: #E5C18D;
$onSecondary: #422C05;
$secondaryContainer: #5D451C;
$onSecondaryContainer: #FFDFB3;
$tertiary: #E4C377;
$onTertiary: #3F2E00;
$tertiaryContainer: #AA8D47;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDDBA;
$primaryFixedDim: #FFB867;
$onPrimaryFixed: #2B1700;
$onPrimaryFixedVariant: #673D00;
$secondaryFixed: #FFDEAE;
$secondaryFixedDim: #E5C18D;
$onSecondaryFixed: #281900;
$onSecondaryFixedVariant: #5B421A;
$tertiaryFixed: #FFDF98;
$tertiaryFixedDim: #E4C377;
$onTertiaryFixed: #251A00;
$onTertiaryFixedVariant: #5A4301;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
