/** Sliders ******************************/
.sliderbar {
  .label{
    font-family: 'JetBrainsMono Nerd Font';
    color: $fg;
    font-size: 18px;
    padding-right: 10px;
  }
 
  trough {
    background-color: $fg;
    min-height: 6px;
    border-radius: 100px;

    highlight {
      background-color: $accent;
      border-radius: 100px;
    }
  }
}
.activebar {
  trough {
    slider {
      background: $accent;
      border-radius: 100%;
      margin: -8px;
    }
  }
}
