.music-box {
	.song-cover {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 20px;
		transition: 0s;
	}
	.song {
		border-radius: 20px;
		padding-left: 1em;
		.now-playing {
			font-weight: bold;
			font-size: 14px;
			margin-top: 6px;
			color: $cyan;
		}
		.song-title {
			font-size: 18px;
			margin-right: 10px;
			font-weight: bolder;
			color: $fg;
		}
		.song-artist{
			font-weight: bold;
			color: $purple;
		}
		.song-position {
			font-weight: bold;
			color: $purple;
			padding: 0px 0px 10px 0px;
		}
		.song-controls {
			button {
				font-size: 25px;
				font-weight: bold;
				margin: 0 0.32em 0.2em;
				padding: 0px 18px 10px 18px;
				transition: 0.2s;
				&:hover {
					color: $blue;
					border-radius: 10px;
				}
			}
			.music-play {
				color: $fg;
			}
			.music-controls {
				color: $fg;
				&:hover {
					color: $purple;
				}
			}
		}
	}
}




.music-small{
	.song-cover {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 20px;
		transition: 0s;
	}
	.song {
		.song-controls {
			button {
				font-size: 25px;
				margin: 100 0.3em 0.2em;
				padding: 18px;
				transition: 0.5s;
				&:hover {
					color: $blue;
					border-radius: 10px;
				}
			}
			.music-controls {
				color: $blue;
				&:hover {
					color: $purple;
				}
			}
		}
		
	}
}
