/** Main Window ******************************/
.actions {
  background-color: $bg;
  color: $fg;
  border-radius: 16px;  
  font-family: JetBrainsMono Nerd Font;
  padding: 10px 10px 10px 10px;
}

/** Header & Footer *****************************/
.datebox {
  .date-cover {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 16px;
		transition: 0s;
		padding: 7px;
	
    .time {
      color: $fg-alt;
      font-family: 'JetBrainsMono Nerd Font';
      font-size: 105px;
      padding: 5px 23px 5px 23px;
	}
    .day {
      color: $fg;
      margin-left: 5px;
      font-size: 25px;
	}
    .date {
      color: $accent;
      font-size: 25px;
	}
  }
}
  .useractions {
    .button {
      background-color: $bg;
      font-family: 'JetBrainsMono Nerd Font';
      font-size: 16px;
      padding: 4px 10px 4px 10px;
      border-radius: 20px;
      transition: all ease .2s;
      &:hover { background-color: $green; }
      &:active { background-color: $accent; }
    }
  }
}

/** Main Toggles *******************************/
.sysbuttonsbox {
  .block-container {
    .block {
      background-color: $bg; 
      padding: 18px 0px 18px 4px;
      min-width: 180px;
      border-radius: 25px;
      transition: all ease .1s;
      color: $fg;
      &:hover { background-color: $blue; }
      &:active { 
        background-color: $yellow; 
        color: $fg;
      }
      &.active {
        color: $bgSecondary;
        background-color: $accent;
        &:hover { background-color: $cyan; }
        &:active {
        background-color: $bg;
        }
      }
      .iconbox .icon {
        font-size: 20px;
        font-family: 'JetBrainsMono Nerd Font';
        padding: 0px 12px 0px 12px;
      }
      .chevronbox {
        margin-right: 14px;
        font-family: 'JetBrainsMono Nerd Font';
        font-size: 18px;
      }
    }
    .labelbox {
      margin-right: 10px;
    }
    .label {
      font-family: "Product Sans";
      font-weight: 500;
      font-size: 14px;
    }
    .label__status {
      font-size: 14px;
    }
  }
}

/** Sliders ******************************/
.controlsbox {
	border-radius: 20px;
	background-color: $bg;
	padding: 20px;
	.button {
		background-color: $bg;
		font-size: 16px;
		padding: 10px;
		border-radius: 20px;
		transition: all ease .2s;
		&:hover { background-color: $green; }
		&:active { background-color: $bg; }
	}
}
.slider {
  .label{
    font-family: 'JetBrainsMono Nerd Font';
    color: $fg;
    font-size: 18px;
    padding-right: 20px;
  }
  .scale-label{
    min-width: 40px;
    color: $fg;
    font-size: 13px;
    font-weight: 500;
    margin-left: 20px;
  }
  trough {
    background-color: $fg;
    min-height: 6px;
    border-radius: 100px;

    highlight {
      background-color: $accent;
      border-radius: 100px;
    }
  }
}
.active {
  trough {
    slider {
      background: $accent;
      border-radius: 100%;
      margin: -8px;
    }
  }
}


.musicbox {
  color: #fff;
  border-radius: 26px;
  padding: 11px 16px;
  transition: background 250ms;
  .musicbox__top {
    font-size: 23px; 
    font-family: 'JetBrainsMono Nerd Font';
  }
}

.musicbox__center--metadata {
  .title{
    font-weight: 500;
    transition: text 250ms;
  }
  .artist{
    font-weight: 400;
    font-size: 15px;
    transition: text 250ms;
  }
}

.pausebutton {
  transition: background 250ms;
  padding: 14px 16px;
}

.playing {
  transition: all ease .2s;
  border-radius: 15px;
}

.paused {
  border-radius: 26px;  
  transition: all ease .2s;
  padding: 14px 14px 14px 18px;
}


.musicbox__bottom {
 font-size: 23px;
}

/** Misc ******************************/

.progress {
	color: $yellow;
	min-width: 3px;
}
.timer {
	border-radius: 20px;
	padding: 20px;
	.button {
		background-color: $bg;
		font-size: 16px;
		padding: 5px;
		border-radius: 20px;
		transition: all ease .2s;
		&:hover { background-color: $green; }
		&:active { background-color: $bg; }
	}
}


/*************************************************/
