
@import "./colors.css";

/* =============================== */
/* Universal Styling */
* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
}
/* =============================== */
/* Bar Styling */
#waybar {
  background: @background;
  color: @foreground;
  border-radius: 10px;
}

/* =============================== */
/* Main Modules */
#custom-launcher,
#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#custom-wall,
#cpu,
#memory,
#disk,
#tray,
#temperature,
#custom-music,
#custom-updates,
#custom-bluetooth,
#custom-weather {
  color: @foreground;
  padding: 5px 10px 5px 10px;
}

/* =============================== */
/* Workspaces */
#workspaces {
  border-radius: 0;
  }

#workspaces button {
  color: @green;
  padding: 0px;
  margin: 0px 10px 0px 15px;
  background: transparent;
  transition: all 0.1s cubic-bezier(.55, -0.68, .48, 1.68);
}

#workspaces button.active {
  background: transparent;
  color: @red;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background-color: transparent;
  color: @cyan;

}

/* =============================== */

/* System Monitoring Modules */

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-right: 5px;
}

#memory {
  border-radius: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#temperature {
  border-radius: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#disk {
  border-radius: 0;
  padding-left: 5px;
  padding-right: 5px;
}

/* Updates Module */
#custom-updates {
  color: @blue;
}

/* =============================== */

/* Battery Module */
#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* =============================== */
/* Network Module */
#network {
  margin-right: 5px;
  padding-right: 5px;
}

/* =============================== */
/* PulseAudio Module */
#pulseaudio {
  border-radius: 0;
  padding-left: 5px;
  padding-right: 5px;
}

/* =============================== */
#custom-wall {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* =============================== */
/* Backlight Module */
#backlight {
  border-radius: 0;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
/* =============================== */

#window {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
