/**
 * @name Zelkdis
 * @version 1.2.2
 * @description a smooth theme inspired by zorin
 * @author schnensch
 * @authorId 652801938374656013
 * @source https://github.com/schnensch0/zelk
 * @invite tMEcBhsNqA
 */
/*         ▀▀█ █▀▀ █   █ █
           ▄▀  █▀▀ █   █▀▄
           ▀▀▀ ▀▀▀ ▀▀▀ ▀ ▀           */
 /*--------------IMPORTS------------- */

@import url(https://schnensch0.github.io/zelk/main.css);
@import url(gtk.css);

/*-------------VARIABLES-------------*/
:root {
  /* set to 'unset' to show */
  --scrollbars: none;
  /* user notes */
  --notes: show;
  /* direct message box */
  --message: show;
  /* set to '4px solid' to show */
  --embed-color: none;
  /* set to 'Inter', sans-serif !important to use Inter font*/
  --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --border-radius-1: 10px;
  --border-radius-2: 8px;
}
/*-----------CUSTOM COLORS-----------*/
/*-------------DARK MODE-------------*/
/*---------------BASIC---------------*/
.theme-dark {
  --accent-color: #ffe7f0;
  --background-1: #0e0b09;
  --background-2: #090706;
  --background-accent: #090706;
  --border-color: #271e19;
}

/*-------------ADVANCED--------------*/
.theme-dark {
  /* background */
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #bde6fb10;
  --background-mentioned-hover: #bde6fb15;
  /* modifiers */
  --background-modifier-hover: #f186b6;
  --background-modifier-active: #495a63;
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: var(--accent-color);
  --text-positive: var(--text-normal);
  --text-muted: #ffe7f0;
  --text-link: #edf8fe;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--button-background-active);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --settings-icon-color: #ffe7f0;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --tab-selected: #788ad0;
  --switch: #3d4c53;
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  /* buttons */
  --button-background: #2a3439;
  --button-background-hover: #ff6c7a;
  --button-background-active: #4d5f68;
  --button-accent: var(--accent-color);
  --button-accent-hover: #d2f3ff;
  --button-accent-active: #8dd4f8;
  --button-destructive: #ffa485;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}

/*-----------DON'T CHANGE------------*/
:root {
  --outdated-122: none !important;
}
/*  usrbg | snippet by _david_#0218  */
.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N, .root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 240px;
}
