// Colors

$background: #0f0d15;
$bg-alt: #181421;
$fg: #f8ecff;
$fg-alt: #c8bfdc;
$red: #bf83df;
$green: #a77dd9;
$yellow: #d2a2f7;
$blue: #7a80fe;
$purple: #cc8cff;
$cyan: #838dff;
$gray: #241f34;
$gray-alt: #241f34;

$accent: $red;
$bg: rgba($background, $alpha: 0.3);;
$fg-alt: rgba($fg, $alpha: 0.5);;
$bgCal: rgba($color: #0a0c0e, $alpha: 0.5);

$contrastbg: #101316;
$bgSecondary: #1f252e;
