// Colors

$background: #06182A;
$bg-alt: #092643;
$fg: #baffff;
$fg-alt: #8cdfdb;
$red: #f2329d;
$green: #0191a0;
$yellow: #01a0b2;
$blue: #5e72c7;
$purple: #2e879f;
$cyan: #01cad4;
$gray: #0b3056;
$gray-alt: #0b3056;

$accent: $red;
$bg: rgba($background, $alpha: 0.3);;
$fg-alt: rgba($fg, $alpha: 0.5);;
$bgCal: rgba($color: #0a0c0e, $alpha: 0.2);

$contrastbg: #101316;
$bgSecondary: #1f252e;
