// Colors

$background: #0c151d;
$bg-alt: #13212e;
$fg: #fffaeb;
$fg-alt: #decabe;
$red: #76bbec;
$green: #5c95cf;
$yellow: #e8ccaf;
$blue: #3b88d7;
$purple: #bd91b2;
$cyan: #68baff;
$gray: #1a2e40;
$gray-alt: #1a2e40;

$accent: $red;
$bg: rgba($background, $alpha: 0.3);;
$fg-alt: rgba($fg, $alpha: 0.5);;
$bgCal: rgba($color: #0a0c0e, $alpha: 0.2);

$contrastbg: #101316;
$bgSecondary: #1f252e;
