/** Colors *******************************************/
$bg: #0A2133;
$bg-alt: #0A2133;
$fg: #f9ffff;
$fg-alt: #f9ffff;
$red: #5ca6ba;
$green: #12d4e1;
$yellow: #cdaf87;
$orange: #5ca6ba;
$blue: #189fba;
$purple: #75c8d6;
$cyan: #3effff;
$gray: #113c5d;
$gray-alt: #113c5d;

@import "./System-Menu/eww.scss";
@import "./Player/eww.scss";
@import "./Misc/eww.scss";
@import "./Main/eww.scss";